<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createparodect.css">
    <title>Document</title>
</head>


<body>
    <%- include('../partials/employee/navbar') %>

        <div class="container">
            <h1> page create Prodect</h1>
            <form action="/products/new" method="post">

                <label for="name">Nmae:</label>
                <input id="name" type="text" name="name" required>

                <label>Category</label>
                <select id="category" name="category">
                    <option value="">Choose Category</option>

                    <% categories.forEach(category=> { %>
                        <option value="<%= category._id %>">
                            <%= category.name %>
                        </option>
                        <% }) %>

                </select>


                <label>
                    <input type="checkbox" id="addCategory">
                    Add new category
                </label>


                <input type="text" id="newCategory" name="newCategory" placeholder="New Category Name"
                    style="display:none;">
                <!-- ------------------------------------------------------------------------ -->
                <label>Subcategory</label>

                <select id="subcategory" name="subcategory">
                    <option value="">Choose Category</option>

                    <% subcategories.forEach(subcategories=> { %>

                        <option value="<%= subcategories._id %>">
                            <%= subcategories.name %>
                        </option>
                        <% }) %>
                </select>

                <label>
                    <input type="checkbox" id="addSubcategory">
                    Add new subcategory
                </label>


                <input type="text" id="newSubcategory" name="newSubcategory" placeholder="New Subcategory Name"
                    style="display:none;">


                <label for="brand">brand:</label>
                <input id="brand" type="text" name="brand">

                <label for="price">price:</label>
                <input id="price" type="number" name="price" step="0.01" required>

                <label for="discount">discount:</label>
                <input id="discount" type="number" name="discount">


                <label for="image">image:</label>
                <input id="image" type="text" name="image">

                <label for="quantity">Quantity:</label>
                <input id="quantity" type="number" name="quantity" required>

                <label for="description">Description</label>
                <textarea id="content" name="description"></textarea>
                <button type="submit">create parodect</button>
            </form>
        </div>
</body>

</html>

<script>
    const addCategory = document.getElementById("addCategory");
    const selecCategory = document.getElementById("category");
    const newCategory = document.getElementById("newCategory");


    addCategory.addEventListener("change", () => {

        if (addCategory.checked) {
            newCategory.style.display = "block";
            selecCategory.style.display = "none";
        }
        else {
            newCategory.style.display = "none";
            selecCategory.style.display = "block";
        }

    });



    const allnewSubcategory = subcategories;
    const addSubcategory = document.getElementById("addSubcategory");
    const selectSubcategory = document.getElementById("subcategory");
    const newSubcategory = document.getElementById("newSubcategory");


    addSubcategory.addEventListener("change", () => {

        if (addSubcategory.checked) {
            newSubcategory.style.display = "block";
            selectSubcategory.style.display = "none";
        }
        else {
            newSubcategory.style.display = "none";
            selectSubcategory.style.display = "block";
        }

    });


</script>