<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/customer/prodectdetails.css">
    <link rel="stylesheet" href="/css/customer/navbar.css">

    <title>
        <%= product.name %>
    </title>
</head>

<body>

    <%- include('../partials/customer/navbar') %>



        <div class="product-container">

            <div class="gallery">

                <% const firstImage=product.variants?.[0]?.image || "placeholder.jpg" ; %>

                    <img class="main-image" id="mainImage" src="/image/product/<%=firstImage %>"
                        alt="<%= product.name %>">

                    <div class="thumbnails">

                        <% product.variants.forEach((variant, index)=> { %>

                            <% if (variant.image) { %>

                                <img src="/image/product/<%= variant.image %>"
                                    alt="<%= product.name %> variant <%= index + 1 %>" onclick="changeImage(this.src)">

                                <% } %>

                                    <% }) %>

                    </div>

            </div>



            <div class="product-info">

                <h1>
                    <%= product.name %>
                </h1>

                <p class="brand">
                    Brand: <%= product.brand %>
                </p>

                <div class="rating">
                    Views: <%= product.views %>
                </div>

                <% const cheapestPrice=Math.min( ...product.variants.map( variant=> variant.price
                    )
                    );
                    %>

                    <div class="price">
                        From <%= cheapestPrice.toFixed(2) %> BHD
                    </div>


                    <h3>Variants</h3>

                    <div class="variants">

                        <% product.variants.forEach((variant, index)=> { %>

                            <button type="button" class="variant-button" id="<%= index %>" ">

                                <% Object.entries(variant.attributes || {}).forEach(([key, value])=> { %>

                                    <span>
                                        <%= key %>: <%= value %>
                                    </span>

                                    <% }) %>

                            </button>

                            <% }) %>

                    </div>


                    <h3>Description</h3>

                    <p>
                        <%= product.description %>
                    </p>


                    <h3>Specifications</h3>

                    <div class=" specifications">

                                <% Object.entries(product.specifications || {}).forEach(([key, value])=> { %>

                                    <p>
                                        <strong>
                                            <%= key %>:
                                        </strong>
                                        <%= value %>
                                    </p>

                                    <% }) %>

                    </div>

            </div>



            <div class="buy-box">

                <h2 id="variantPrice">
                    <%= product.variants[0].price.toFixed(2) %> BHD
                </h2>

                <p class="stock" id="stockStatus">
                    <% if (product.variants[0].quantity> 0) { %>
                        ✔ In Stock
                        <% } else { %>
                            ✖ Out of Stock
                            <% } %>
                </p>

                <form action="/cart/add" method="POST">

                    <input type="hidden" name="productId" value="<%= product._id %>">

                    <input type="hidden" id="variantIndex" name="variantIndex" value="0">

                    <label for="quantity">
                        Quantity
                    </label>

                    <input id="quantity" type="number" name="quantity" value="1" min="1"
                        max="<%= product.variants[0].quantity %>" required>

                    <button class="cart-btn" type="submit">
                        🛒 Add To Cart
                    </button>

                </form>


            </div>
            <input type="hidden" id="variants" value='<%- JSON.stringify(product.variants) %>''>
        </div>


        <script>
                 console.log(document.getElementById("variants").value);

            const variants = JSON.parse( document.getElementById("variants").value);
            console.log(variants)
            const selectVariantButtons = document.querySelectorAll(".variant-button");
            selectVariantButtons.forEach(button => {

                button.addEventListener("click", (event) => {

                    const index = Number(event.target.id);
                    console.log(index)
                    selectVariant(index);

                });

            });





            function changeImage(imageSource) {

                document.querySelector("#mainImage").src =
                    imageSource;

            }


            function selectVariant(index) {

                const selectedVariant = variants[index];

                document.querySelector("#variantIndex").value =
                    index;

                document.querySelector("#variantPrice").textContent =
                    Number(selectedVariant.price).toFixed(2) + " BHD";

                const stockStatus =
                    document.querySelector("#stockStatus");

                const quantityInput =
                    document.querySelector("#quantity");

                quantityInput.max =
                    selectedVariant.quantity;

                if (selectedVariant.quantity > 0) {

                    stockStatus.textContent =
                        "✔ In Stock";

                    quantityInput.disabled =
                        false;

                } else {

                    stockStatus.textContent =
                        "✖ Out of Stock";

                    quantityInput.disabled =
                        true;

                }

                if (selectedVariant.image) {

                    document.querySelector("#mainImage").src =
                        "/image/product/" + selectedVariant.image;

                }

                document
                    .querySelectorAll(".variant-button")
                    .forEach(button => {
                        button.classList.remove("selected");
                    });

                document
                    .querySelectorAll(".variant-button")[index]
                    .classList.add("selected");

            }

        </script>

</body>

</html>
